
/* ---------------------------
        common styles
--------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 75%;
    margin: 70px auto;
}


.button a{
    text-decoration: none;
    font-size: 10pt;
    font-weight: 500;
    padding: 15px 25px;
    border-radius: 5px;
    background-color: #E02C6D;
    color: white;
    transition: all .3s ease-in;
}

.button a:hover{
    padding: 17px 27px;
    background-color: rgb(231, 227, 227);
    color: #E02C6D;
    font-weight: 500;
    box-shadow: 1px 1px 10px #E02C6D;
}

/* ---------------------------
        slider animation
--------------------------- */
@keyframes slider {
    0%{
        background-image: url(../images/banner/banner-1.png);
        background-size: 100%;
    }

    50%{
        background-image: url(../images/banner/banner-2.png);
        background-size: 100%;
    }
    100%{
        background-image: url(../images/banner/banner-3.png);
        background-size: 100%;
    }
}



/* ---------------------------
        banner section
--------------------------- */

.banner-section{
    width: 100%;
    height: 677px;
    background-color: #2D25A0;
}

.container-banner{
    width: 80%;
    height: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.slider{
    margin-top: 100px;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation: slider 10s ease-in 0.5s infinite alternate;
}
.banner-text{
    margin-top: 100px;
    color: white;
    font-size: 64px;
    font-weight: 700;
    line-height: 80px;
}

.banner-text h3{
    margin-bottom: 0px;
}

/* ---------------------------
        players section
--------------------------- */
.players{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.player{
    margin: 10px auto;
    width: 320px;
    height: 475px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 1px 1px 10px rgb(230, 230, 230);
}

.player img{
    width: 300px;
    border-radius: 5px;
    display: inline-block;
    margin: 10px 10px;
}

.plr-info{
    width: 300px;
    margin: auto;
    font-size: .9em;
}

.plr-name h2{
    margin-top: 0px;
}



.highlight{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.text{
    margin-right: 60px;
}

.text h1{
    font-size: 46px;
    font-weight: 700;
    line-height: 60px;
    color: #0A0826;
}

.image img{
    width: 500px;
}

/* ---------------------------
        news section
--------------------------- */

.news-container{
    display: flex;
    margin: auto;
}

.news{
    width: 50%;
    margin: 20px auto;
    position: relative;
}
.news img{
    display: block;
    width: 470px;
    margin-left: auto;
    margin-right: auto;
}

.news a{
    text-decoration: none;
}

.news-text{
    position: absolute;
    display: none;
    margin-left: 16.813px;
    padding: 10px;
    top: 0;
    
    
}

.news:hover .news-text{
    display: block;
    background-color: #0a082663;
    color: white;
    height: 244.375px;
    width: 450px;
}

.news-btn{
    margin-left: auto;
    margin-right: auto;
}

.news-btn a{
    width: 400px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 15pt;
    transform: translate(50%);
    font-weight: 500;
    padding: 15px 25px;
    border-radius: 5px;
    border: 1px solid #E02C6D;
    color: #E02C6D;
    transition: all .3s ease-in;
}
.news-btn a:hover{
    background-color: rgb(231, 227, 227);
    color: white;
    font-weight: 500;
   background-color: #E02C6D;
}
